{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">LAPTOPS</h1>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            {% for item in ls %}
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{item.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">{{item.name}}</span> <span class="float-end price-hp">{{item.price}}</span> </div>
                        <h5 class="card-title">{{item.content}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
       
         
        </div>
    </div>
</main>


{% endblock %}